<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Intra-Building Navigator</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

  <h1 style="color: #5e9ca0;"> Welcome to <span style="color: #2b2301;"> the Intrabuilding</span> App! </h1>

<body>
  
  <p>This App allows you to navigate across buildings on campus</p>
  <br>
  <form action="/locator" class="inline">
    <button>Photo Locator</button>
  </form>
  <br>
  <form action="/navigator" class="inline">
    <button>A* Navigator</button>
  </form>

  
</body>
<script>
</script> 

</html>